__pycache__/
*.py[cod]
.DS_Store

data/.DS_Store
data/**/*.bak
data/**/*.bak-*
data/translations/review_*.txt
data/translations/hf_vs_byzod_diffs_top.csv
data/sources/byzod_tags_zh_full_pack.csv
data/sources/danbooru_tags.csv
data/sources/draconicdragon/
data/sources/noob-wiki/danbooru_character_webui.csv

.venv/
venv/
env/
node_modules/
